{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="text-center">
        <strong>
            <p class="alert alert-success">Votre inscription a bien été prise en compte {{ user.username }}. Vous êtes maintenant connecté!</p>
        </strong>
        {#<a href="{{ path('homePage') }}">Home Page</a></br>#}
        {#<a href="/logout">Logout</a>#}
    </div>

{% endblock %}